.callout[data-callout="snail"] {
    --callout-color: 139, 207, 247;
    --callout-icon: snail;
}

.callout[data-callout="flask"] {
    --callout-color: 255, 114, 71;
    --callout-icon: flask-round;
}